@if(User.Identity.IsAuthenticated){
    <div class="d-flex align-items-center">
        <form method="post" class="form-inline" asp-page="/Account/Logout">
            Welcome @User.Identity.Name
            <button type="submit" class="ml-2 btn btn-link">Logout</button>
        </form>
        <a class="btn btn-link" asp-page="/Users/UserProfile">Profile</a>
        <a class="btn btn-link" asp-page="/Users/FriendRequest">Friend Request</a>
    </div>
}else{
    <a class="btn btn-link" asp-page="/Account/Login">Login</a>
}