@if(User.Identity.IsAuthenticated){
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Welcome @User.Identity.Name</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-page="/Users/EditProfile">Profile</a>
            <a class="dropdown-item" asp-page="/Users/FriendRequest">Friend Request</a>
            <a class="dropdown-item" asp-page="/Users/FriendList">Friend List</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <form method="post" class="form-inline" asp-page="/Account/Logout">
                <button type="submit" class="ml-2 dropdown-item">Logout</button>
            </form>
        </div>
    </li>

}else{
    <a class="nav-link" asp-page="/Account/Login">Login</a>
}

<partial name="_Notification" />

<style>
    li {
        list-style-type: none;
    }
</style>