@page
@model PRN221ProjectGroup.Views.Users.UsersModel

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Avatar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Gender</td>
                    <td>
                    @foreach (var photo in user.photos)
                    {
                        @if (photo.isMain)
                        {
                                        <img src="@photo.PhotoUrl" alt="Avatar" style="max-width: 100px; max-height: 100px;" />
                            break;
                        }
                    }
                    </td>
                </tr>
        }
    </tbody>
</table>
