@page
@model ChatSystem.Pages.Users.EditProfileModel
@{
}

<link rel="stylesheet" href="~/css/editprofile.css">

<div class="row">
    <div class="col-xl-4">
        <div class="card mb-4 mb-xl-0">
            <div class="card-header">Profile Picture</div>
            <div class="card-body text-center">
                <img class="img-account-profile rounded-circle mb-2" src="@Model.UserProfile.Avatar" alt="">
                <form method="post" enctype="multipart/form-data" asp-page-handler="UploadImage">
                    <div class="form-group mt-2 mb-3 px-5">
                      <input class="form-control" type="file" id="formFile" name="imageFile">
                    </div>
                    <button class="btn btn-primary" type="submit">Upload</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card mb-4">
            <div class="card-header">User Profile</div>
            <div class="card-body">
                <form method="post">
                    <input type="hidden" asp-for="UserProfile.UserId" />
                    <div class="mb-3">
                        <label asp-for="UserProfile.UserName" class="form-label">Full Name</label>
                        <input asp-for="UserProfile.UserName" class="form-control">
                        <span asp-validation-for="UserProfile.UserName" class="text-danger"></span>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label asp-for="UserProfile.KnownAs" class="small mb-1">Known as</label>
                            <input asp-for="UserProfile.KnownAs" class="form-control">
                            <span asp-validation-for="UserProfile.KnownAs" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="UserProfile.Introduction" class="small mb-1">Introduction</label>
                        <input asp-for="UserProfile.Introduction" class="form-control">
                        <span asp-validation-for="UserProfile.Introduction" class="text-danger"></span>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label asp-for="UserProfile.Interest" class="small mb-1">Interest</label>
                            <input asp-for="UserProfile.Interest" class="form-control">
                            <span asp-validation-for="UserProfile.Interest" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="UserProfile.City" class="small mb-1">City</label>
                            <input asp-for="UserProfile.City" class="form-control">
                            <span asp-validation-for="UserProfile.City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label asp-for="UserProfile.Gender" class="small mb-1">Gender</label>
                            <input asp-for="UserProfile.Gender" class="form-control">
                            <span asp-validation-for="UserProfile.Gender" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="UserProfile.DateOfBirth" class="small mb-1">Birthday</label>
                            <input asp-for="UserProfile.DateOfBirth" class="form-control" type="date">
                            <span asp-validation-for="UserProfile.DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
