@page
@model ChatSystem.Pages.Users.FriendRequestModel
@{
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Card image cap">
    <div class="card-body">
        <p class="card-text text-uppercase text-muted">User</p>
        <p class="card-text text-muted">2 days ago</p>
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="btn btn-outline-primary">Accept</button>
            <button type="button" class="btn btn-outline-danger">Decline</button>
        </div>
    </div>
</div>